html {
	/*background: black;*/
}

#main-container{
	display: table;
	margin: 0 auto;
	margin-top: -15em;
}

#title-container {

}

#title-container img{
	display: block;
  margin: auto;
  margin-top: 20px;
}


nav {
	/*width: 1300px;*/
	height: 50px;

	border: solid 2px #000000;
}

.event-box {
	background-color: red;
	position: relative;
}

.streaming-box {
	background-color: yellow;
}
.embedVideo {
    position:relative;
    padding-bottom:50.0%;
    height:0;

    /*display: inline-table*/
    /*display: block;*/
 }
.embedVideo iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
}

.event-box {
	/*padding-bottom: 43.5%;*/
	height: 45.6vw;
	display: block;
}


.streaming-box {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.chat-box {
	/*padding-bottom: 45.2%;*/
}

/* https://benmarshall.me/responsive-iframes/ */
.chat-box {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 45.2%;
}

.chat-box iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


#info-bar {
	margin-top: -2px;
	position: relative;
	/*display: inline-table;*/
	height: 40px;

}

.row {
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.box-style {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	border: solid 2px #000000;
	background-color: #17141e;
	margin-top: -2px;
}

.adjust-box-left {
	/*margin-left: -2px;*/
}

.interactive-area {
	position: relative;
}

.text-discription {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.6);
}

.text-red {
	color: #fc3636;
}

.text-main {
	font-size: 12px;
	color: #ffffff;
}

/*#camera #cam-img {
	width: 100%;
}*/

#map {
	text-align: center;
	margin: auto;
	padding-top: 3%;
	-webkit-perspective: 150px;
  perspective: 250px;
}

#map #div2 {
	position: relative;
	width: 90%;
}

#map #div2 img{
	position: relative;
	width: 100%;
}



#camera {
	position: relative;
	/*background-color: gray;*/
	height: 20vw;
	padding-bottom: 35%;
	text-align: center;
	margin: auto;

}

#footage {
	/*background-color: white;*/
	/*width: 90%;*/
	padding-bottom: 55%;
	/*margin-right: -10px;*/
	width: 100%;
	margin-top: 5%;
	background-image: url(../ghost/Room_1_no.png);
	background-size: cover;
	background-position: center;
}

#footage-img {
	width: 100%;
}

#overlay{
	position: absolute;
	z-index: 1000;
/*	left: 445px;
	bottom: 220px;*/
	left: 2.4vw;
  top: 2vw;
	bottom: auto;
	height: auto;
	width: 85%;
}

.button-purple {
	background-color: #643da6;
	border: none;
	color: white;
	height: 3rem;
	line-height: 3rem;
	cursor: pointer;
	/*position: absolute;*/
}

.button-green {
	background-color: #63A63D;
	border: none;
	color: white;
	height: 3rem;
	line-height: 3rem;
	cursor: pointer;
	/*position: absolute;*/
}

.button-notallowed {
	cursor: not-allowed !important;
}



.button-gray {
	background-color: #99969c;
	border: none;
	color: white;
	height: 3rem;
	line-height: 3rem;
	cursor: not-allowed !important;
	/*position: absolute;*/
}


.button-small {
	height: 2rem;
	line-height: 2rem;
	cursor: pointer;
}

#div1 {

}

.rotate {
	position: absolute;
  animation:spin 0.5s ease-in-out 1;
  animation-fill-mode: forwards;
  /*transform: scale(1.1);*/
}

.rotateback {
	position: absolute;
  animation:spinback 0.5s ease-in-out 1;
  animation-fill-mode: forwards;
}

/*@keyframes spin { 100% { transform: rotateZ(20deg) rotateY(-50deg) rotateX(30deg); } }*/
@keyframes spin {
	100% {
		left: -14vw;
		transform: scale(1.5) rotateZ(28deg) rotateY(-40deg) rotateX(60deg);
		/*transform: rotateZ(45deg) rotateY(-65deg) rotateX(40deg); */
	}
	/*25%  {left: -20px;}*/
  0% {
  	transform: scale(1.0);
  	left: 0px;
  }
}

@keyframes spinback {
	0% {
		left: -14vw;
		transform: scale(1.5) rotateZ(28deg) rotateY(-40deg) rotateX(60deg);
		/*transform: rotateZ(45deg) rotateY(-65deg) rotateX(40deg); */
	}
	/*25%  {left: -20px;}*/
  100% {
  	transform: scale(1.0);
  	left: 0px;
  }
}

.obj {
	position: absolute;
	z-index: 1000;
}

/*.obj img {
	width: 50%;
	float: left;
}*/

#obj-1 {
	display: none;
	width: 1vw;
	height: 1vw;
	background: white;
	top: 5vw;
  left: -3vw;
}

#obj-book {
	display: none;
	width: 2vw;
	height: 2vw;
	/*background: white;*/
	top: 5.5vw;
  left: -5.4vw;
}

#obj-book img {
	width: 80%;
	float: right;
}

#obj-book-control {
	display: none;
	top: 4.3vw;
  left: -2.5vw;
}

#obj-toilet-control {
	display: none;
	top: 10.3vw;
  left: -16vw;
}

#obj-toilet {
	display: none;
	width: 2vw;
	height: 2vw;
	/*background: white;*/
	top: 12vw;
  left: -19vw;
}

#obj-toilet img {
	width: 100%;
	float: right;
}

#obj-notes {
	display: none;
	top: 1.6vw;
  left: -32vw;
}

#obj-back-button {
	display: none;
	padding: 5px 10px;
	background: #221F2A;
	border-radius: 100%;
	color: white;
	left: 13vw;
	top: 1vw;
	cursor: pointer;
}

#button-group {
	position: absolute;
	z-index: 1000;
}




#button-group .cam-button {
  position:absolute;
/*  bottom:10px;
  right:10px;*/
  width: 25px;
  height: 25px;
  font-size: 10px;
  background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	color: black;
/*		width: 25px;
	height: 45px;*/
}

#cam1 {
	left: 0.5vw;
  top: 2vw;

}

#cam2 {
	left: 0.5vw;
  top: 6vw;
}

#cam3 {
	left: 4vw;
  top: 11vw;
}

#cam4 {
	left: 4vw;
  top: 13vw;

}

#cam5 {
	left: 4vw;
  top: 15vw;

}

#cam6 {
	left: 6vw;
  top: 15.5vw;
}

#cam9 {
	left: 8vw;
  top: 11vw;
}

#cam8 {
	left: 8vw;
  top: 13vw;
}

#cam7 {
	left: 8vw;
  top: 15vw;

}

#cam10 {
	left: 5vw;
  top: 5vw;

}

#cam11 {
	left: 10.5vw;
  top: 3vw;
}

#cam12 {
	left: 8.5vw;
  top: 0.5vw;
}

.obj-progress {
	height: 0.5vw !important;
	margin-bottom: 8px !important;
	margin-top: 3px !important;
}

.emergency-event {
	margin-top: 2vw;
	width: 100%;
	height: 200px;
	max-width: 300px;
	background-color: #221F2A;
	vertical-align: top;
}

.emergency-event hr{
	border-color: rgba(151, 151, 151, 0.2);
	margin: auto;
}

.event-header-text {
	font-size: 14px;
	color: #A7A7A7;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 12px;
  display: inline-block;
}

.event-time-text {
	font-size: 10px;
	color: #A7A7A7;
  padding-top: 14px;
  /*padding-bottom: 6px;*/
  padding-right: 12px;
  float: right;
  display: inline-block;
}

.body-text {
	font-size: 12px;
	text-align: center;
	color: white;
	padding-top: 38px;
}

.button-noise {
	margin-top: 45px;
	font-size: 12px;
	width: 80px;
}

.emergency-button-group {
	text-align: center;
}

.emergency-light {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: #E03838;
	display: inline-block;
}

/**
 * Changes the colors of the buttons when you click them
 **/
button.selected{
  background-color: #42EA08;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
}

button:focus{
	display: none;
}

button:active{
	opacity: .8;
}

button{
	background-color: #fff;
	cursor: pointer;
}




/*@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: .4; }
  50% {
    transform: translateY(3px);
    opacity: 1; }
  100% {
    transform: translateY(6px);
    opacity: .4; } }

.hover-shadow {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent; }
  .hover-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);

    transition-duration: 0.3s;
    transition-property: transform opacity; }
  .hover-shadow:hover {
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
    .hover-shadow:hover:before {
      opacity: .4;
      transform: translateY(6px);
      animation-name: hover-shadow;
      animation-duration: 1.5s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate; }*/

/*body{
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/

/*#camview-wrap{
	display: table;
	margin: 0 auto;
}

#chat_embed{
	position: relative;
	top: 270px;
	left: 7px;
}

#cam-view {
	display: inline;
	position: relative;
	right: 387px;
}

#cam-view #cam-img {
  width: 450px;
  height: 270px;
  z-index: 1000;
}

#cam-view #cam-video {
	top: 0px;
}

#overlay{
	position: relative;
	z-index: 1000;
	left: 445px;
	bottom: 220px;
	height: auto;
	width: 435px;
}

#cam-map {
  position:relative;
  display:inline-block;
	right: 374px;
}

#cam-map button {
  position:absolute;
  bottom:10px;
  right:10px;
  width: 45px;
  height: 40px;
}

#cam-map #cam1 {
	left: 9px;
  top: 20px;
	font-size: 11px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 45px;
}

#cam-map #cam2 {
	left: 9px;
  top: 90px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 45px;
}

#cam-map #cam3 {
	left: 71px;
  top: 162px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 32px;
}

#cam-map #cam4 {
	left: 71px;
  top: 202px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 20px;
}

#cam-map #cam5 {
	left: 71px;
  top: 226px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 20px;
}

#cam-map #cam6 {
	left: 100px;
  top: 233px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 18px;
	height: 18px;
}

#cam-map #cam9 {
	left: 121px;
  top: 162px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 32px;
}

#cam-map #cam8 {
	left: 121px;
  top: 202px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 20px;
}

#cam-map #cam7 {
	left: 121px;
  top: 226px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 20px;
}

#cam-map #cam10 {
	left: 70px;
  top: 73px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 35px;
	height: 35px;
}

#cam-map #cam11 {
	left: 183px;
  top: 20px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 25px;
	height: 45px;
}

#cam-map #cam12 {
	left: 136px;
  top: 7px;
	font-size: 11px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: black;
	width: 32px;
	height: 32px;
}

.alert-button{
	border: none;
	border-radius: 3px;
	background-color: red;
	color: #fff;
}




#room-name {
	position: absolute;
	bottom: 3px;
	right: 314px;
	color: red;
	width: 140px;
  height: 30px;
  text-align: center;
  background: black;
}

#room-name p {
	margin-top: 7px;
}*/
